/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 24, 2025, 7:18:13 PM
    Author     : HP
*/
.VBox{
    -fx-background-color: lightskyblue;
    -fx-alignment: center;
    -fx-padding: 10 10 10 10; /* Cách viền trên 20px */
    -fx-spacing: 20;
}


.subject {
    -fx-font-weight: bold; /* In đậm */
    -fx-font-size: 30px;   /* Kích thước chữ */
    -fx-alignment: center;  /* Căn giữa nội dung */

}

.Text{
    -fx-font-weight: bold; /* In đậm */
    -fx-font-size: 25px;   /* Kích thước chữ */
}

.TextField{
    -fx-margin: 0 0 10 0;
}

.Button{
    -fx-font-weight: bold;  /* Chữ in đậm */
    -fx-font-size: 18px;     /* Kích thước chữ */
    -fx-background-color: #3498db; /* Màu nền (Xanh dương) */
    -fx-text-fill: white;    /* Màu chữ trắng */
    -fx-padding: 10px 20px;  /* Kích thước padding */
    -fx-border-radius: 5px;  /* Bo góc button */
    -fx-background-radius: 5px; /* Bo góc nền */
    -fx-border-color: #2980b9; /* Viền màu xanh đậm hơn */
    -fx-border-width: 2px;   /* Độ dày viền */
    -fx-cursor: hand;
}